@mixin st_btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;

	text-align: center;
	white-space: nowrap;
	font-family: var(--default-font);
	cursor: pointer;
	text-decoration: none;

	&[type='submit'] {
		@include appearance(none);
	}

	&:hover,
	&:focus {
		text-decoration: none;
	}
}

// variants
@mixin btn_style_primary {
	color: var(--color-text);
	text-transform: uppercase;
	border: 1px solid var(--color-text);
	background-color: transparent;
}

@mixin btn_style_secondary {
	color: var(--invert-color);
	text-transform: uppercase;
	border: 1px solid var(--invert-color);
	background-color: var(--color-bg-secondary);
}



// sizes
@mixin btn_size_base {
	height: 3.6rem;
	padding: 0 1.2rem;

	font-size: 1.2rem;
	line-height: 3.8rem;
}