@import 'reset';
@import '../helpers/helpers-all.scss';

//------------------------------------------------------------base styles
:root {
	--full-screen: calc(var(--vh, 1vh) * 100);

	--light: #fff;
	--dark: #000;

	--color-bg: #111315;
	--color-bg-secondary: #D7D7D7;
	--color-text: #fff;
	--invert-color: #111315;

	// --primary-color: #09182d;
	// --secondary-color: #e1473d;
	// --teritary-color: #f4f4f4;
	// --quaternary-color: #929292;

	--height-footer: 10rem;

	@include bp($tablet_max, min) {
		--height-header: 10rem;
		--height-footer: 55.2rem;
		--gl-hr-indent: 3.2rem;
	}

	@include bp($tablet_max - 1) {
		--height-header: 8.4rem;
		--height-footer: 66.8rem;
		--gl-hr-indent: 2.6rem;
	}
}

html {
	height: 100%;

	font-family: var(--default-font);
	font-weight: 400;
	line-height: 1.33;
	font-size: 10px;
}

body {
	position: relative;

	display: flex;
	height: 100%;

	font-size: 1.6rem;
	color: var(--color-text);
	background-color: var(--color-bg);

	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	scroll-behavior: smooth;

	overflow-y: auto;

	@supports (display: grid) {
		display: block;
	}
}

.wrapper {
	position: relative;

	width: 100%;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	height: auto !important;

	overflow-x: hidden;

	scroll-behavior: smooth;
}

.base {
	width: 100%;
	position: relative;

	flex: 1 0 auto;
}

//------------------------------------------------------------base styles###
//------------------------------------------------------------base styles###